In [2]:
from autogluon.tabular import TabularDataset, TabularPredictor
import random
import os
import numpy as np
import pandas as pd
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(9)

In [3]:
test_df = pd.read_csv('data/test.csv')
test_df

,SAMPLE_ID,ARI_CO,ARI_PO,SHIP_TYPE_CATEGORY,DIST,ATA,ID,BREADTH,BUILT,DEADWEIGHT,...,GT,LENGTH,SHIPMANAGER,FLAG,U_WIND,V_WIND,AIR_TEMPERATURE,BN,ATA_LT,PORT_SIZE
0,TEST_000000,SG,GIW5,Container,1.826589,2020-06-18 11:58,K322654,50.0,18,117000,...,109000,340.0,KQMD74,Panama,0.37,1.63,27.1,1.587063,19,0.002615
1,TEST_000001,CN,WEY7,Cargo,25.399386,2021-05-26 22:20,E376681,10.0,13,3810,...,2560,80.0,LBYS27,Belize,-2.79,-2.33,14.2,2.663972,6,0.001028
2,TEST_000002,CN,NGG6,Container,111.079467,2019-12-16 0:09,F811111,20.0,26,10900,...,8440,140.0,EKFV15,Singapore,0.04,-4.91,9.3,3.255315,8,0.001743
3,TEST_000003,CA,FFM2,Bulk,9.175258,2015-11-16 5:30,A737561,30.0,9,55800,...,31500,190.0,MASW32,Panama,NaN,NaN,NaN,NaN,2,0.000182
4,TEST_000004,JP,QYY1,Container,0.000000,2018-10-24 1:11,A827175,30.0,19,39800,...,33000,220.0,SIEL54,Liberia,NaN,NaN,NaN,NaN,10,0.000552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220486,TEST_220486,BR,TMW2,Bulk,21.712733,2017-04-04 15:53,E731427,60.0,15,298000,...,151000,330.0,UWHE18,Japan,NaN,NaN,NaN,NaN,13,0.000080
220487,TEST_220487,CA,GRQ5,Bulk,4.870490,2016-08-22 16:22,Q434522,30.0,9,80500,...,42700,220.0,BBXV46,Liberia,NaN,NaN,NaN,NaN,13,0.000039
220488,TEST_220488,JP,VYJ1,Tanker,17.068286,2022-07-10 14:53,U148516,10.0,14,1200,...,500,60.0,DYUA26,Japan,-2.87,1.22,27.4,2.405268,23,0.000264
220489,TEST_220489,CN,QQW1,Cargo,0.000000,2020-12-28 14:38,C235264,10.0,27,3420,...,2000,80.0,VKVS56,Belize,-2.65,-0.64,8.2,2.199039,22,0.000595
220490,TEST_220490,MZ,PAF4,Container,32.280098,2015-11-07 6:34,N282778,30.0,35,41800,...,31400,200.0,TQXV21,Panama,NaN,NaN,NaN,NaN,8,0.000054

In [4]:
test = TabularDataset(test_df.drop(['SAMPLE_ID'], axis=1))

In [ ]:
predictor = TabularPredictor.load("saved_model/auto06_saved_model")
pred_y = predictor.predict(test)

In [ ]:
pred_y = np.where(pred_y < 0, 0, pred_y)

In [ ]:
print(pred_y)

In [ ]:
submit = pd.read_csv('./data/sample_submission.csv')
submit['CI_HOUR'] = pred_y
submit.to_csv('out_csvs/auto06.csv', index=False)